<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat Code Coverage">
                <Configuration>
                    <Exclude>
                        <!-- Exclude specific files -->
                        <Class>specmatic_order_bff_csharp.Program</Class>
                         <Class>specmatic_order_bff_csharp.Startup</Class>

                        <!-- Optionally exclude namespaces -->
                        <File>**/Program.cs</File>
                         <File>**/Startup.cs</File>
                        <File>**/controllers/*.cs</File>
                        <File>**/models/*.cs</File>
                        <File>**/exceptions/*.cs</File>
                        <File>**/config/*.cs</File>
                        <File>**/properties/*.cs</File>
                
                    </Exclude>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
